@model SystemUser;
@{
    ViewData["Title"] = "Home Page";
}

    <div class="text-center">
        <h1 class="display-1">Welcome to VIA Scrum</h1>

        <h1></h1>
        <h1></h1>
        <h1></h1>
       </div> 
